@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

header {
    background-color: #312C4D;
}

main {
    background-color: #2B2643;
    height: 73%;
    max-height: 73%;
}

.footer-container {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.493);
    border: none;
    margin-top: 0;
}

.level {
    background-color: #242038;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.level img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.img-container {
    height: 200px;
    width: 300px;
}

.result-conteiner {
    background-color: #242038;
}

/* @media(min-width: 1400px) {
    .img-container {
        height: 200px;
        width: 285px;
    }
} */

/* @media(max-width: 1399px) {
    .img-container {
        height: 180px;
        width: 256.5px;
    }
}

@media(max-width: 1199px) {
    .img-container {
        height: 140px;
        width: 200px;
    }
}

@media(max-width: 991px) {
    .img-container {
        height: 101px;
        width: 145px;
    }
}

@media(max-width: 767px) {
    .img-container {
        height: 74px;
        width: 105px;
    }
} */



.level-code {
    padding: 10px;
    /* overflow: auto; */
}

.level-code * {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-style: italic;
}

.level-result {
    background-color: #312C4D;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.level-result-left {
    border: 8px solid #242038;
    border-right: 4px solid #242038;
    padding: 2%;
}

.level-result-right {
    border: 8px solid #242038;
    border-left: 4px solid #242038;
    padding: 2%;
}

.information {
    padding: 10px;
    background-color: #2B2643;
    border-radius: 10px;
    font-size: 15px;
}

.circle-color {
    border-radius: 50%;
    min-height: 25px; 
    min-width: 25px;
    border: 0.3px solid black;
}

.text-color {
    text-shadow: 1px 1px 1px black;
}

@media (max-width: 767px) {
    .circle-color {
        min-height: 15px; 
        min-width: 15px;
    }

    .text-color {
        font-size: 10px;
    }

    .information {
        font-size: 13px;
    }
}

.level-button {
    background-color: #8F4C48;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 15px;
    font-family: 'Inter';
    font-style: Italic;
    font-weight: 800;
    color: #FFFFFF;
    margin: 0 10px;
    transition: 0.3s;
}

.level-button:hover {
    background-color: #663431;
}

.level-button:active {
    transform: scale(0.9);
}

.editor {
    height: 94%;
    /* position: relative; */
}

.error {
    /* position: absolute; */
    color: #8F4C48;
}