header {
    background-color: #312C4D;
}

main {
    background-color: #2B2643;
}

.footer-container {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.493);
    border: none;
    margin-top: 0;
}

.level-container {
    min-height: 100%;
}

.level {
    background-color: #242038;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    min-height: vh;
}

.level img {
    width: 100%;
}

.level-code {
    padding: 10px;
    overflow: auto;
}

.level-result {
    background-color: #312C4D;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    height: vh;
}

.level-result-left {
    border: 8px solid #242038;
    border-right: 4px solid #242038;
    padding: 10px;
}

.level-result-right {
    border: 8px solid #242038;
    border-left: 4px solid #242038;
    padding: 10px;
}

.information {
    padding: 10px;
    background-color: #2B2643;
    border-radius: 10px;
    font-size: 15px;
}

.circle-color {
    border-radius: 50%;
    min-height: 25px; 
    min-width: 25px;
    border: 0.3px solid black;
}

.text-color {
    text-shadow: 1px 1px 1px black;
}

@media (max-width: 767px) {
    .circle-color {
        min-height: 15px; 
        min-width: 15px;
    }

    .text-color {
        font-size: 10px;
    }

    .information {
        font-size: 13px;
    }
}

