@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button {font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


img {    /* запрет выделения */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; /*элемент не может стать объектом мыши*/
  user-select: none; /*запрет на перенос текста*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* W3C standard
   сейчас только для Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(192, 191, 191, 0.586) white;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    border-radius: 10px;
    margin: 10px;
}
*::-webkit-scrollbar-track {
    background: #312C4D;
}
*::-webkit-scrollbar-thumb {
    background-color: #8f4c485e;
    border-radius: 10px;
    border: px solid white;
}

a {
    color: white;
}

* {
    font-family: 'Inter';
    font-style: Italic;
    font-weight: 900;
    color: #FFFFFF;
}

p {
    margin: 0;
}

/* .body-light { - светлая тема

} */

.body-dark {
    background-color: #312C4D;
}

.logo-cair img {
    width: 100px;
    height: 100px;
}

.logo-cair {
    font-size: 40px;
    font-style: Italic;
    font-weight: 900;
}

.profile {
    background-color: #2B2643;
    border-radius: 10px;
    padding: 10px 20px 10px 15px;
    box-shadow: 0px 5px 20px rgba(40, 36, 60, 0.73);
    max-width: 60%;
}

.profile:hover {
    background-color: #26223C;
}

.profile-photo img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover; /* для подгона изображения без деформации */
}

.redirect {
    background-color: #8F4C48;
    padding: 10px 20px 10px 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    min-height: 80px;

    text-decoration: none;
    font-style: Italic;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.redirect a {
    text-decoration: none;
    font-style: Italic;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.redirect-level a {
    text-decoration: none;
    font-style: Italic;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.redirect-levels {
    background-color: #8F4C48;
    padding: 10px 20px 10px 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    min-height: 80px;
}

.redirect-level {
    background-color: #733C38;
    border-radius: 10px;
    padding: 10px 20px 10px 15px;
    transition: .2s;
}

.redirect-level:hover {
    background-color: #663431;
}

.redirect-level a {
    font-size: 20px;
}

.redirect-anime:hover {
    background-color: #79403e;
}

.categories {
    background-color: #2B2643;
    border-radius: 10px;
    min-height: 40px;
    box-shadow: 0px 5px 20px rgba(40, 36, 60, 0.73);
}

.categories p {
    color: #4C466B;
    width: 100%;
}

.search {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(40, 36, 60, 0.73);
}

.search button, .search input {
    background-color: #2B2643;
    border: none;
    min-height: 40px;
}

.search-input {
    width: 100%;
}

.search-input::placeholder {
    color: #4C466B;
}

.search-button {
    position: absolute;
    right: 0;
}

.logo-mobile {
    font-size: 30px;
}

.logo-mobile img {
    width: 50px;
    height: 50px;
    object-fit: cover; /* для подгона изображения без деформации */
}

.levels-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    width: 100%;
    background-color: #2B2643;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.card:hover {
    background-color: #26223C;
}

.card-img {
    position: relative;
}

.ov-text {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; /* для подгона изображения без деформации */
}

.card-status-level img {
    width: 35px;
    height: 35px;
}

.favorite {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    right: 0;
    margin: 5px;
}

.favorite img {
    width: 100%;
    height: 100%;
}

.icon {
    width: 25px;
    height: 25px;
}

.search-input {
    font-weight: 600;
}

.card-title {
    font-size: 20px;
    
}

.card-author {
    font-size: 15px;
    color: #3C90B8;
}

.select-category {
    background-color: #463E6B;
}

.categories-list p:first-child, .profile-menu a:first-child {
    border-radius: 10px 10px 0 0;
}

.categories-list p:last-child, .profile-menu a:last-child {
    border-radius: 0 0 10px 10px;
}

.category-container {
    position: relative;
}

.unvisible {
    visibility: hidden;
}

.categories-list {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 40%;
    background-color: #2B2643;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(40, 36, 60, 0.73);
}

.categories-list p, .categories-list a {
    padding: 5px 20px;
    width: 100%;
    font-size: 20px;
}

.categories-list p:hover, .categories-list a:hover {
    background-color: #463E6B;
}

.white-category p {
    color: white;
}

.footer-container {
    color: rgba(255, 255, 255, 0.493);
    border-top: 2px solid #2B2643;
    margin-top: 50px;
    font-weight: 300;
}

.anime-little {
    transition: 0.3s;
}

.anime-little:active {
    transform: scale(0.7);
}

.profile-menu {
    width: 40%;
    z-index: 10;
    top: 105%;
    left: 60%;
    overflow: hidden;
}

.name-level {
    background-color: #2B2643;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Inter';
    font-style: Italic;
    font-weight: 800;
    color: #FFFFFF;
    margin: 0 10px;
}

.name-level::placeholder {
    color: #4C466B;
}

.error {
    color: #8F4C48;
}